<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.4/engine/Shopware/Components/Plugin/schema/config.xsd">
    <elements>
        <element required="true" type="text" scope="locale">
            <name>MyConfigOption</name>
            <label lang="de">German Label</label>
            <label lang="en">English Label</label>
            <value>Value</value>
            <description>Description</description>
        </element>
    </elements>
</config>